.img {
  width: 100%;
  height: 100%;
}

.cg {
  color: gray;
  opacity: 0.6;
}

.product {
  transition: var(--tr);
}

.product:hover {
  scale: 1.02;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: var(--tr);
}

.btn-like {
  border: 0px;
  background: transparent;
}
.icon-like {
  z-index: 1;
  position: absolute;
  top: 450px;
  right: 25px;
  font-size: 40px;
  border: 0px;
  background: transparent;
  transition: var(--tr);
}

.icon-like:hover {
  scale: 1.2;
  transition: var(--tr);
}

.for-item {
  width: 300px;
  white-space: pre-line;
}

.disflex {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 5px;
}
